langchain
langchain-community
langchain-google-vertexai
fastapi
uvicorn
python-multipart
pandas
pydantic
PyGithub
google-cloud-aiplatform
python-dotenv
###########
cron-descriptor
tabulate
python-dotenv
streamlit-modal 
numpy
