langchain
langchain-community
langchain-google-vertexai
fastapi
uvicorn
python-multipart
pandas
pydantic
PyGithub
google-cloud-aiplatform
python-dotenv
streamlit
###########
cron-descriptor
tabulate
sentence-transformers
python-dotenv
streamlit-modal 
localtunnel
numpy
